@import url(produtos.css);

man {
    width:940px;
    margin:e auto;
}

form {
 margin: 40px 0 ;
} 

form label form p {
    display : block;
    font-size: 20px;
    margin: 0 0 10px ; 
}

.input-padrao{
    display: block ;
    margin: 0 0 20px;
    padding: 10px 25px;
    width:50px
}

.checkbox {
    margin:20px 0;
}

.enviar{
    white:40%;
    padding: 15px;
    background-color: gray;
    color:blue;
    font-weight:bold;
    font-size:18px;
    border:nome;
    border-radius:5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover{
    background-color:darkslategrey;
    transition: scale(1.2);
}