header {
  background:#bbbbbb;
  padding:20px 0;
}

nav li {
  desplay: inline;
  margin: 0 0 0 15px;
}

nav a {
  text-transform:uppercase;
  color:black;
  font-weigth:bold;
  font-size:22px;
  text-decoration:none;
}
